.burger__btn {
  display: none;
  position: relative;
  z-index: 500;
  width: 2rem; 
  height: 1.5rem; 
  background: none;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 0.125rem;  
    width: 100%;
    background-color: $sky-blue;
    transition: 0.3s ease;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &-span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.125rem; 
    background-color: $sky-blue;
    transform: translateY(-50%);
  }

  &.burger-btn__open {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background-image: url(#{$base-url}/assets/icons/burger-close-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 2.25rem;
    height: 2.25rem;

    &::before,
    &::after,
    span {
      display: none;
    }
  }
}


.burger__nav {
  

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.813rem;
  }
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  &__open {
    opacity: 1;
    visibility: visible;

    .burger__content {
      transform: translateX(0);
    }
  }

  

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin: 0 auto;
    width: 100%;
    height: 17.688rem;
    padding: 4.625rem 3.625rem 2rem 3.625rem; 
    background-color: $sky-blue;
    transform: translateX(100%);
    transition: transform 0.3s linear;
  }
}

@media (max-width: 460px) { 
  .burger__btn {
    display: block;

  }

  .header__link {
    display: none;
  }




    .burger__nav-item {

      a{
        font-size: 1.5rem;
        color: $white;
      }
      
    }

    }
  
 